
.divCart{
    width:85%;
    border-radius: 20px;
    background-color: #283322;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    margin:100px auto;
}
.divFinalizarCompra{
    height:8rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding:1rem;
    justify-content: space-evenly;
}
.SeVe{
    display:block;
}
.NoSeVe{
    display:none;
}

/*MEDIA QUERY PARA SMARTPHONE*/
@media (max-width: 480px) {
    .divCart{
        width:470px;
    }
}