.ItemList{
    display:flex;
    flex-wrap: wrap;
}
.cardArticulo{
    margin: 15px 10px;
}
.contenedorImagen{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.cardImg{
    max-height: 200px;
}
.titleArticulo{
    height:4rem;
}
.descriptionArticulo{
    height:6rem;
    color: #ece6c3;
    ;
    background-color: #283322;
    padding: 8px;
    border-radius: 4px;
}


