.ItemList{
    display:flex;
    flex-wrap: wrap;
}
.cardArticulo{
    width:290px;
    margin: 15px auto;
    transition: 200ms ;
    
}
.cardArticulo:hover {
    width:295px;
    background-color:#212b1c;

 }
 
.contenedorImagen{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.cardImg{
    max-height: 280px;
}
.titleArticulo{
    height:2.8rem;
    text-align:center;

}



